*~
.*crc
build/
dist/
etc/junit.sh
etc/run.sh
etc/hadoop-local.sh
etc/hadoop-cluster.sh
etc/run-integration.sh
ivy/ivy.jar
lib/
data/tokenizer/zh-token.bin/
ranking.*
data/en-ar.trec02/cdec.grammar/grammar*
data/en-fr.clef06/cdec.grammar/grammar*
data/en-zh.ntcir8/cdec.grammar/grammar*
data/en-ar.trec02/moses.grammar/grammar*
data/en-fr.clef06/moses.grammar/grammar*
data/en-zh.ntcir8/moses.grammar/grammar*

